@(wetterinfos: WetterInfos)

@import helper._

@main("WetterInfo") {
	
    <form action="@routes.Application.addWetterInfo()" method="post">
        <input type="text" name="windstaerke" id="windstaerke"> <br>
        <input type="text" name="wdirection" id="wdirection"> <br>
        <input type="text" name="luftdruck" id="luftdruck"> <br>
        <input type="text" name="wellenhoehe" id="wellenhoehe"> <br>
        <input type="text" name="wavedirection" id="Wavedirection"> <br>
        <input type="text" name="temperatur" id="temperatur"> <br>
        <input type="text" name="wolken" id="wolken"> <br>
        <input type="text" name="rain" id="rain"> <br>
        <input type="text" name="datetime" id="datetime"> <br>
        <input type="submit">
    </form>
    
    
}